{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": 0,
    "import/no-default-export": 1
  },
  "ignorePatterns": "dist/**/*.js"
}
